<a href="https://colab.research.google.com/github/chauitvn/MNIST/blob/master/Feature_engineering_Downsampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
from datetime import datetime, timedelta

In [28]:
DATA = pd.read_csv("/content/drive/MyDrive/2022/Stock Prediction/Data/VPB_1.csv", header=0, index_col=1, parse_dates=True)
DATA

            Unnamed: 0   high  ...  prophet_prediction    Fourier
date                           ...
2017-08-17           0  39.00  ...           12.156839  22.644159
2017-08-18           1  38.50  ...           12.247239  22.625086
2017-08-21           2  36.80  ...           12.225384  19.657944
2017-08-22           3  36.00  ...           12.243743  19.643331
2017-08-23           4  36.80  ...           12.283061  16.924241
...                ...    ...  ...                 ...        ...
2022-01-27        1113  36.65  ...           38.437205  31.220079
2022-01-28        1114  36.70  ...           38.593920  28.638928
2022-02-07        1115  37.20  ...           40.277806  28.599161
2022-02-08        1116  37.90  ...           40.497906  25.701326
2022-02-09        1117  38.00  ...           40.742609  25.674405

[1118 rows x 45 columns]

In [29]:
newData_df = DATA[["high", "low", "open", "close", "adjust", "volume"]]
newData_df

             high    low   open  close  adjust      volume
date
2017-08-17  39.00  33.00  39.00  39.00  13.389  58299310.0
2017-08-18  38.50  37.20  38.00  37.20  12.772   1348450.0
2017-08-21  36.80  35.50  35.80  35.85  12.308   1802590.0
2017-08-22  36.00  34.80  34.80  36.00  12.359   2531870.0
2017-08-23  36.80  35.75  36.00  36.20  12.428    520790.0
...           ...    ...    ...    ...     ...         ...
2022-01-27  36.65  35.40  35.90  35.45  35.450  16617500.0
2022-01-28  36.70  35.50  35.65  36.65  36.650  24213598.0
2022-02-07  37.20  36.30  37.00  36.30  36.300  11288200.0
2022-02-08  37.90  36.10  36.15  37.30  37.300  22498900.0
2022-02-09  38.00  37.10  37.50  37.10  37.100  20711000.0

[1118 rows x 6 columns]

In [30]:
Week_Data_df = newData_df.resample("W").mean()
Week_Data_df = Week_Data_df[["adjust", "volume"]]
Week_Data_df.rename(columns={"adjust": "weekly_adjust", "volume": "weekly_volume"}, inplace=True)
#Week_Data_df["DayOfWeek"] = Week_Data_df["date"].dt.weekday
#Week_Data_df.loc[Week_Data_df["DayOfWeek"] ==6 , "date"] = Week_Data_df["date"] - timedelta(days=2)
#Week_Data_df.set_index("date", inplace=True)
#Week_Data_df

            weekly_adjust  weekly_volume
date
2017-08-20       13.08050   2.982388e+07
2017-08-27       12.40060   1.352049e+06
2017-09-03       12.46300   9.512420e+05
2017-09-10       12.98625   1.152558e+06
2017-09-17       12.81940   3.959100e+05
...                   ...            ...
2022-01-16       34.84000   1.156062e+07
2022-01-23       33.61000   8.559300e+06
2022-01-30       35.27000   1.674116e+07
2022-02-06            NaN            NaN
2022-02-13       36.90000   1.816603e+07

[235 rows x 2 columns]

In [31]:
merger_df = pd.merge(newData_df, Week_Data_df, left_index=True, right_index=True, how="outer")
merger_df.head(50)

             high    low   open  ...      volume  weekly_adjust  weekly_volume
date                             ...
2017-08-17  39.00  33.00  39.00  ...  58299310.0            NaN            NaN
2017-08-18  38.50  37.20  38.00  ...   1348450.0            NaN            NaN
2017-08-20    NaN    NaN    NaN  ...         NaN       13.08050     29823880.0
2017-08-21  36.80  35.50  35.80  ...   1802590.0            NaN            NaN
2017-08-22  36.00  34.80  34.80  ...   2531870.0            NaN            NaN
2017-08-23  36.80  35.75  36.00  ...    520790.0            NaN            NaN
2017-08-24  36.35  35.80  36.35  ...   1289627.0            NaN            NaN
2017-08-25  36.30  35.80  35.90  ...    615370.0            NaN            NaN
2017-08-27    NaN    NaN    NaN  ...         NaN       12.40060      1352049.4
2017-08-28  36.30  35.90  36.00  ...    761670.0            NaN            NaN
2017-08-29  36.30  35.95  36.10  ...    990000.0            NaN            NaN
2017-08-30  36.30  36.00  36.30  ...    830100.0            NaN            NaN
2017-08-31  36.30  36.10  36.10  ...   1196380.0            NaN            NaN
2017-09-01  36.30  36.10  36.10  ...    978060.0            NaN            NaN
2017-09-03    NaN    NaN    NaN  ...         NaN       12.46300       951242.0
2017-09-05  36.40  36.05  36.05  ...   1449290.0            NaN            NaN
2017-09-06  38.20  36.30  36.40  ...   1921010.0            NaN            NaN
2017-09-07  39.30  38.20  38.20  ...    900290.0            NaN            NaN
2017-09-08  38.50  38.15  38.50  ...    339640.0            NaN            NaN
2017-09-10    NaN    NaN    NaN  ...         NaN       12.98625      1152557.5
2017-09-11  38.10  36.90  38.00  ...    715570.0            NaN            NaN
2017-09-12  37.50  36.40  37.00  ...    330150.0            NaN            NaN
2017-09-13  37.60  37.10  37.35  ...    312470.0            NaN            NaN
2017-09-14  37.60  37.30  37.50  ...    268880.0            NaN            NaN
2017-09-15  37.60  37.35  37.45  ...    352480.0            NaN            NaN
2017-09-17    NaN    NaN    NaN  ...         NaN       12.81940       395910.0
2017-09-18  37.50  37.25  37.40  ...    323580.0            NaN            NaN
2017-09-19  37.30  36.90  37.30  ...    820020.0            NaN            NaN
2017-09-20  37.30  36.85  36.95  ...    789670.0            NaN            NaN
2017-09-21  36.95  36.75  36.90  ...    535570.0            NaN            NaN
2017-09-22  36.90  36.50  36.90  ...   1288830.0            NaN            NaN
2017-09-24    NaN    NaN    NaN  ...         NaN       12.68540       751534.0
2017-09-25  36.85  36.65  36.70  ...   4504360.0            NaN            NaN
2017-09-26  36.90  36.60  36.90  ...    718370.0            NaN            NaN
2017-09-27  37.45  36.60  36.60  ...   1473820.0            NaN            NaN
2017-09-28  37.80  37.20  37.30  ...   1738590.0            NaN            NaN
2017-09-29  37.75  37.25  37.25  ...    752340.0            NaN            NaN
2017-10-01    NaN    NaN    NaN  ...         NaN       12.72000      1837496.0
2017-10-02  37.60  37.00  37.50  ...    634350.0            NaN            NaN
2017-10-03  37.30  36.75  37.20  ...    659660.0            NaN            NaN
2017-10-04  37.00  36.75  36.90  ...    477470.0            NaN            NaN
2017-10-05  37.15  36.85  37.10  ...    219990.0            NaN            NaN
2017-10-06  37.20  36.80  37.05  ...    409110.0            NaN            NaN
2017-10-08    NaN    NaN    NaN  ...         NaN       12.70980       480116.0
2017-10-09  37.60  37.25  37.60  ...   4936770.0            NaN            NaN
2017-10-10  38.20  37.35  37.45  ...    869010.0            NaN            NaN
2017-10-11  39.50  38.15  38.20  ...   3495690.0            NaN            NaN
2017-10-12  40.80  39.30  39.55  ...   2545902.0            NaN            NaN
2017-10-13  41.05  39.90  39.90  ...   1322500.0            NaN            NaN
2017-10-15    NaN    NaN    NaN  ...         NaN       13.40320      2633974.4

[50 rows x 8 columns]

In [24]:
Month_Data_df = newData_df.resample("M").mean()
Month_Data_df

                 high        low       open      close     adjust        volume
date
2017-08-31  36.813636  35.618182  36.395455  36.545455  12.546909  6.380560e+06
2017-09-30  37.490000  36.920000  37.137500  37.215000  12.776600  1.025650e+06
2017-10-31  40.040909  39.279545  39.552273  39.622727  13.603227  1.848987e+06
2017-11-30  40.161364  39.193182  39.661364  39.618182  13.601773  1.425336e+06
2017-12-31  40.292857  39.392857  39.895238  39.788095  13.659905  2.188708e+06
2018-01-31  48.912500  47.080000  47.720000  48.240000  16.561750  5.908624e+06
2018-02-28  55.926667  53.813333  54.653333  55.086667  18.912467  4.855388e+06
2018-03-31  64.545455  62.450000  63.477273  63.572727  21.825727  5.340811e+06
2018-04-30  65.126316  62.510526  64.152632  63.663158  21.856842  5.715578e+06
2018-05-31  49.345455  46.586364  48.254545  47.852273  16.428727  3.955356e+06
2018-06-30  41.873810  39.938095  40.847619  40.985714  17.181476  4.488088e+06
2018-07-31  27.995455  26.631818  27.361364  27.295455  15.164045  5.399073e+06
2018-08-31  26.469565  25.813043  26.167391  26.071739  14.484304  4.939273e+06
2018-09-30  25.623684  25.028947  25.273684  25.247368  14.026211  4.628317e+06
2018-10-31  24.126087  23.419565  23.871739  23.743478  13.190739  5.002348e+06
2018-11-30  21.259091  20.581818  20.979545  20.911364  11.617318  4.090340e+06
2018-12-31  21.597500  21.007500  21.350000  21.325000  11.847100  4.080577e+06
2019-01-31  19.797727  19.279545  19.529545  19.509091  10.838227  2.107123e+06
2019-02-28  21.446667  20.950000  21.210000  21.193333  11.773933  3.469204e+06
2019-03-31  21.438095  20.990476  21.216667  21.207143  11.781619  3.740618e+06
2019-04-30  19.773684  19.428947  19.665789  19.594737  10.885842  2.704879e+06
2019-05-31  18.786364  18.443182  18.615909  18.611364  10.339636  1.944042e+06
2019-06-30  18.657500  18.272500  18.455000  18.535000  10.297100  2.625644e+06
2019-07-31  19.363043  19.058696  19.226087  19.219565  10.677522  2.892040e+06
2019-08-31  19.581818  19.186364  19.345455  19.438636  10.799091  2.991029e+06
2019-09-30  21.010000  20.625000  20.795000  20.875000  11.597200  4.453368e+06
2019-10-31  22.295652  21.945652  22.156522  22.147826  12.304261  6.557910e+06
2019-11-30  21.373810  20.988095  21.216667  21.159524  11.755143  3.888820e+06
2019-12-31  19.675000  19.268182  19.447727  19.477273  10.820636  3.282447e+06
2020-01-31  21.732353  21.132353  21.294118  21.476471  11.931294  3.401141e+06
2020-02-29  26.847500  25.770000  26.067500  26.462500  14.701300  8.350001e+06
2020-03-31  23.159091  22.093182  22.661364  22.588636  12.549091  7.224969e+06
2020-04-30  20.382500  19.445000  19.912500  19.960000  11.088800  6.533021e+06
2020-05-31  23.610000  22.807500  23.165000  23.307500  12.948600  7.809306e+06
2020-06-30  23.384091  22.631818  23.127273  22.945455  12.747455  5.596572e+06
2020-07-31  22.091304  21.410870  21.728261  21.767391  12.092870  4.095061e+06
2020-08-31  22.159524  21.659524  21.861905  21.914286  12.174476  4.955258e+06
2020-09-30  23.502381  23.016667  23.221429  23.257143  12.920524  6.664242e+06
2020-10-31  24.536364  23.804545  24.215909  24.115909  13.397682  9.254877e+06
2020-11-30  25.085714  24.466667  24.802381  24.892857  13.829286  7.792719e+06
2020-12-31  30.450000  29.395652  29.889130  30.023913  16.679739  7.952164e+06
2021-01-31  35.400000  33.830000  34.625000  34.587500  19.215100  7.104365e+06
2021-02-28  38.593333  36.776667  37.486667  38.100000  21.166467  8.543245e+06
2021-03-31  43.847826  42.543478  43.223913  43.430435  24.127870  6.925727e+06
2021-04-30  50.097500  48.252500  49.095000  49.595000  27.552550  1.223250e+07
2021-05-31  65.655000  63.360000  64.495000  65.285000  36.269100  3.452447e+07
2021-06-30  69.645455  67.818182  68.813636  69.009091  38.338182  3.277458e+07
2021-07-31  65.063636  62.650000  64.140909  63.722727  35.401273  1.725593e+07
2021-08-31  62.677273  61.245455  61.990909  61.922727  34.401318  9.530023e+06
2021-09-30  65.715000  64.370000  64.950000  65.080000  36.155350  8.061598e+06
2021-10-31  42.628571  41.635714  42.269048  42.192857  36.878571  9.407236e+06
2021-11-30  37.750000  36.709091  37.229545  37.163636  37.163636  1.556276e+07
2021-12-31  35.597826  34.576087  35.184783  34.993478  34.993478  1.758554e+07
2022-01-31  35.302632  34.239474  34.702632  34.731579  34.731579  1.267516e+07
2022-02-28  37.700000  36.500000  36.883333  36.900000  36.900000  1.816603e+07

In [25]:
merger_df = pd.merge(merger_df, Month_Data_df, left_index=True, right_index=True, how="outer")
merger_df.head(50)

            high_x  low_x  open_x  ...    close_y   adjust_y      volume_y
date                               ...
2017-08-17   39.00  33.00   39.00  ...        NaN        NaN           NaN
2017-08-18   38.50  37.20   38.00  ...        NaN        NaN           NaN
2017-08-21   36.80  35.50   35.80  ...        NaN        NaN           NaN
2017-08-22   36.00  34.80   34.80  ...        NaN        NaN           NaN
2017-08-23   36.80  35.75   36.00  ...        NaN        NaN           NaN
2017-08-24   36.35  35.80   36.35  ...        NaN        NaN           NaN
2017-08-25   36.30  35.80   35.90  ...        NaN        NaN           NaN
2017-08-28   36.30  35.90   36.00  ...        NaN        NaN           NaN
2017-08-29   36.30  35.95   36.10  ...        NaN        NaN           NaN
2017-08-30   36.30  36.00   36.30  ...        NaN        NaN           NaN
2017-08-31   36.30  36.10   36.10  ...  36.545455  12.546909  6.380560e+06
2017-09-01   36.30  36.10   36.10  ...        NaN        NaN           NaN
2017-09-05   36.40  36.05   36.05  ...        NaN        NaN           NaN
2017-09-06   38.20  36.30   36.40  ...        NaN        NaN           NaN
2017-09-07   39.30  38.20   38.20  ...        NaN        NaN           NaN
2017-09-08   38.50  38.15   38.50  ...        NaN        NaN           NaN
2017-09-11   38.10  36.90   38.00  ...        NaN        NaN           NaN
2017-09-12   37.50  36.40   37.00  ...        NaN        NaN           NaN
2017-09-13   37.60  37.10   37.35  ...        NaN        NaN           NaN
2017-09-14   37.60  37.30   37.50  ...        NaN        NaN           NaN
2017-09-15   37.60  37.35   37.45  ...        NaN        NaN           NaN
2017-09-18   37.50  37.25   37.40  ...        NaN        NaN           NaN
2017-09-19   37.30  36.90   37.30  ...        NaN        NaN           NaN
2017-09-20   37.30  36.85   36.95  ...        NaN        NaN           NaN
2017-09-21   36.95  36.75   36.90  ...        NaN        NaN           NaN
2017-09-22   36.90  36.50   36.90  ...        NaN        NaN           NaN
2017-09-25   36.85  36.65   36.70  ...        NaN        NaN           NaN
2017-09-26   36.90  36.60   36.90  ...        NaN        NaN           NaN
2017-09-27   37.45  36.60   36.60  ...        NaN        NaN           NaN
2017-09-28   37.80  37.20   37.30  ...        NaN        NaN           NaN
2017-09-29   37.75  37.25   37.25  ...        NaN        NaN           NaN
2017-09-30     NaN    NaN     NaN  ...  37.215000  12.776600  1.025650e+06
2017-10-02   37.60  37.00   37.50  ...        NaN        NaN           NaN
2017-10-03   37.30  36.75   37.20  ...        NaN        NaN           NaN
2017-10-04   37.00  36.75   36.90  ...        NaN        NaN           NaN
2017-10-05   37.15  36.85   37.10  ...        NaN        NaN           NaN
2017-10-06   37.20  36.80   37.05  ...        NaN        NaN           NaN
2017-10-09   37.60  37.25   37.60  ...        NaN        NaN           NaN
2017-10-10   38.20  37.35   37.45  ...        NaN        NaN           NaN
2017-10-11   39.50  38.15   38.20  ...        NaN        NaN           NaN
2017-10-12   40.80  39.30   39.55  ...        NaN        NaN           NaN
2017-10-13   41.05  39.90   39.90  ...        NaN        NaN           NaN
2017-10-16   41.20  40.20   40.20  ...        NaN        NaN           NaN
2017-10-17   41.50  40.70   40.70  ...        NaN        NaN           NaN
2017-10-18   42.10  41.30   42.00  ...        NaN        NaN           NaN
2017-10-19   41.70  40.80   41.20  ...        NaN        NaN           NaN
2017-10-20   41.60  41.10   41.10  ...        NaN        NaN           NaN
2017-10-23   41.90  40.70   41.30  ...        NaN        NaN           NaN
2017-10-24   40.95  40.45   40.95  ...        NaN        NaN           NaN
2017-10-25   41.15  40.30   40.70  ...        NaN        NaN           NaN

[50 rows x 15 columns]